{% extends 'base.html' %}
{% block contents %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>자세한 본문 내용</h1>
    <br><br>
    <h1> 제목 : {{post.title}} </h1>
    <p> 작성 날짜 : {{post.pub_date}} </p>
    <p> 자세한 본문 : {{post.content}} </p>
    <br><br>
    <a class="btn btn-primary" href="{% url 'index' %}">글 목록</a>
    {% if post.author == user.username %}
    <a class="btn btn-primary" href="{% url 'editpost' post.id %}">수정하기</a>
    <a class="btn btn-primary" href="{% url 'delete' post.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
    {% endif %}
</div>
</body>
</html>
{% endblock %}